/*
Author: Ehsan Khan (ehsan.khan@centria.fi)
Date: 2025-09-24
*/
body {
    text-align: center;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: #cec9c2;
}
.sentences span {
    display: block;
    margin-bottom: 5px;
}
h1, h2 {
    font: 200; 
    font-size: 40px;
    color: rgb(75, 75, 70);
}
p {
    color: #363535;
    font-size: 22px;
  }
.youtubeLink {
    margin: 20px;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: solid;
}
.youtubeLink a:hover {
    text-decoration: underline;
}
ul, ol {
    color: #363535;
    font-size: 22px;
    text-align: center;
}
ol {
    list-style-position: inside;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
ul {
    list-style-position: outside;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}